<ul>
    <li class="nav-item">
        <a class="btn btn-primary text-dark gTZRG" asp-area="" asp-controller="AstralBodies" asp-action="Index">Planets</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary text-dark gTZRG" asp-area="" asp-controller="AstralBodies" asp-action="SolarSystemAdminIndex">Solar systems</a>
    </li>
</ul>