
<table class="gTW gTZRG">
    <thead>
        <tr>
            <td>
                <h1>Admin Areas</h1>
            </td>
            <td>
                <h1>Player Areas</h1>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

                <a class="btn btn-primary isCommonYellow gTZRG" asp-area="" asp-controller="Titans" asp-action="Index">Titans</a> <br />
                <a class="btn btn-primary isCommonYellow gTZRG" asp-area="" asp-controller="AstralBodies" asp-action="Index">Planets</a> <br />
                <a class="btn btn-primary isCommonYellow gTZRG" asp-area="" asp-controller="AstralBodies" asp-action="SolarSystemAdminIndex">Solar systems</a><br />
                <a class="btn btn-primary isCommonYellow gTZRG" asp-area="" asp-controller="AstralBodies" asp-action="GalaxyAdminIndex">Galaxies</a><br />
            </td>
            <td>
                <a class="btn btn-primary isCommonYellow gTZRG" asp-area="" asp-controller="Titans" asp-action="Error">Players Titan Index</a> <br />
                <a class="btn btn-primary isCommonYellow gTZRG" asp-area="" asp-controller="AstralBodies" asp-action="SolarSystemExplore">Players Solar System View</a> <br />
                <a class="btn btn-primary isCommonYellow gTZRG" asp-area="" asp-controller="AstralBodies" asp-action="Details">Players Planet View (NA, admin temp)</a> <br />
                <a class="btn btn-primary isCommonYellow gTZRG" asp-area="" asp-controller="AstralBodies" asp-action="GalacticConquest">Players Galaxy View</a> <br />
                <a class="btn btn-primary isCommonYellow gTZRG" asp-area="" asp-controller="Titans" asp-action="Error">Players Commander View (Profile)</a> <br />

            </td>
        </tr>
    </tbody>
</table>


