@model GalacticTitans.Models.Titans.TitanImageViewModel

    <div>
        @if (!Model.Image.Any())
        {
            <p>"No images are found"</p>
        }
    </div>
    @if (Model.ImageTitle == "Portrait.png")
    {
    <img width="256" class="card-img-top" src="@Model.Image" asp-append-version="true" />
    }
    else
    {
        <img src="~/lib/gameasset/image/premadetitans/NotImplementedImage.png" />
    }

