
<div class="gTZRG isCommonBlue2">
    <table align="center">
        <tr>            
            <td rowspan="3" width="120%" align="center"><h1>Strange trader</h1> </td>
        </tr>        
        <tr></tr>
        <tr></tr>
        <tr>            
            <td rowspan="6" width="120%" align="center">(HOME GALAXY IMAGE)<br /><img width="800" height="400" src="~/lib/gameasset/image/stories/ship_01.png"/></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td rowspan="4" width="120%" align="center">Welcome to yar galaxy, ye cunt. This is where yer shit be.</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td rowspan="5" width="120%" align="center"></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
        </tr>
    </table>
</div>