

<div class="gTZRG isCommonGreen2">
    <table align="left">
        <tr>
            <td style="padding: 5px;">
                <a onmouseover="playHoverSound()" onclick="playClickSound()" id="gCbuttonText" viewBox="0 0 200 50"
                   asp-controller="PlayerCommandPosts" asp-action="Index">
                    <svg id="indexButton" class="gCbuttonL1">
                        <rect class="svgButtonMainStyle"></rect>
                        <text x="10" y="21" class="svgButtonMainTextStyle gTZRG">Explore</text>
                        <polygon class="svgButtonMainTriangleStyle" points='0,0 0,13 13,0'></polygon>
                        <polygon class="svgButtonMainTriangleStyle" points='130,30 130,17 117,30'></polygon>
                    </svg>
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;">
                <a onmouseover="playHoverSound()" onclick="playClickSound()" id="gCbuttonText" viewBox="0 0 200 50"
                   asp-controller="PlayerCommandPosts" asp-action="Index">
                    <svg id="indexButton" class="gCbuttonL1">
                        <rect class="svgButtonMainStyle"></rect>
                        <text x="10" y="21" class="svgButtonMainTextStyle gTZRG">Barracks</text>
                        <polygon class="svgButtonMainTriangleStyle" points='0,0 0,13 13,0'></polygon>
                        <polygon class="svgButtonMainTriangleStyle" points='130,30 130,17 117,30'></polygon>
                    </svg>
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;">
                <a onmouseover="playHoverSound()" onclick="playClickSound()" id="gCbuttonText" viewBox="0 0 200 50"
                   asp-controller="PlayerCommandPosts" asp-action="Index">
                    <svg id="indexButton" class="gCbuttonL1">
                        <rect class="svgButtonMainStyle"></rect>
                        <text x="10" y="21" class="svgButtonMainTextStyle gTZRG">Recruitment</text>
                        <polygon class="svgButtonMainTriangleStyle" points='0,0 0,13 13,0'></polygon>
                        <polygon class="svgButtonMainTriangleStyle" points='130,30 130,17 117,30'></polygon>
                    </svg>
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;">
                <a onmouseover="playHoverSound()" onclick="playClickSound()" id="gCbuttonText" viewBox="0 0 200 50"
                   asp-controller="PlayerCommandPosts" asp-action="Index">
                    <svg id="indexButton" class="gCbuttonL1">
                        <rect class="svgButtonMainStyle"></rect>
                        <text x="10" y="21" class="svgButtonMainTextStyle gTZRG">Home System</text>
                        <polygon class="svgButtonMainTriangleStyle" points='0,0 0,13 13,0'></polygon>
                        <polygon class="svgButtonMainTriangleStyle" points='130,30 130,17 117,30'></polygon>
                    </svg>
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;">
                <svg id="separatortype" class="gCbuttonL1">
                    <rect class="svgButtonMainStyle"></rect>
                    <text x="10" y="21" class="svgButtonMainTextStyle gTZRG">===========</text>
                </svg>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;">
                <a onmouseover="playHoverSound()" onclick="playClickSound()" id="gCbuttonText" viewBox="0 0 200 50"
                   asp-controller="PlayerCommandPosts" asp-action="Index">
                    <svg id="indexButton" class="gCbuttonL1">
                        <rect class="svgButtonMainStyle"></rect>
                        <text x="10" y="21" class="svgButtonMainTextStyle gTZRG">Graveyard</text>
                        <polygon class="svgButtonMainTriangleStyle" points='0,0 0,13 13,0'></polygon>
                        <polygon class="svgButtonMainTriangleStyle" points='130,30 130,17 117,30'></polygon>
                    </svg>
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;">
                <a onmouseover="playHoverSound()" onclick="playClickSound()" id="gCbuttonText" viewBox="0 0 200 50"
                   asp-controller="PlayerCommandPosts" asp-action="Index">
                    <svg id="indexButton" class="gCbuttonL1">
                        <rect class="svgButtonMainStyle"></rect>
                        <text x="10" y="21" class="svgButtonMainTextStyle gTZRG">Settings</text>
                        <polygon class="svgButtonMainTriangleStyle" points='0,0 0,13 13,0'></polygon>
                        <polygon class="svgButtonMainTriangleStyle" points='130,30 130,17 117,30'></polygon>
                    </svg>
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;">
                <svg id="separatortype" class="gCbuttonL1">
                    <rect class="svgButtonMainStyle"></rect>
                    <text x="10" y="21" class="svgButtonMainTextStyle gTZRG">===========</text>
                </svg>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;">
                <a onmouseover="playHoverSound()" onclick="playClickSound()" id="gCbuttonText" viewBox="0 0 200 50"
                   asp-controller="PlayerCommandPosts" asp-action="Index">
                    <svg id="indexButton" class="gCbuttonL1">
                        <rect class="svgButtonMainStyle"></rect>
                        <text x="10" y="21" class="svgButtonMainTextStyle gTZRG">Author</text>
                        <polygon class="svgButtonMainTriangleStyle" points='0,0 0,13 13,0'></polygon>
                        <polygon class="svgButtonMainTriangleStyle" points='130,30 130,17 117,30'></polygon>
                    </svg>
                </a>
            </td>
        </tr>
        <tr>
            <td rowspan="9"></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
    </table>
</div>