
<div class="gTZRG isCommonGreen2">
    <table align="right">
        <tr>
            <td>PLAYERNAME</td>
        </tr>
        <tr>
            <td >PLAYER LVL</td>
        </tr>
        <tr>
            <td >XPBAR</td>
        </tr>
        <tr>
            <td >ALIVETITANCOUNT</td>
        </tr>
        <tr>
            <td >COS-CREDITS</td>
        </tr>
        <tr>
            <td >SCRAPCOUNT</td>
        </tr>
        <tr>
            <td >VICTORIES</td>
        </tr>
        <tr>
            <td style="padding: 5px;">
                <svg id="separatortype" class="gCbuttonL1">
                    <rect class="svgButtonMainStyle"></rect>
                    <text x="10" y="21" class="svgButtonMainTextStyle gTZRG">===========</text>
                </svg>
            </td>
        </tr>
        <tr>
            <td>Toptitan1name</td>
        </tr>
        <tr>
            
        </tr>
        <tr><td>Toptitan1level</td></tr>
        <tr><td>Toptitan1image</td></tr>
        <tr><td>Toptitan2name</td></tr>
        <tr>
            
            <td>Toptitan2level</td>
        </tr>
        <tr><td>Toptitan2image</td></tr>
        <tr><td>Toptitan3name</td></tr>
        <tr><td>Toptitan3level</td></tr>
        <tr><td>Toptitan3image</td></tr>
        <tr>
        </tr>
    </table>
</div>