@{
    ViewData["Title"] = "Galactic Titans";
}

<div class="text-center">
    <h1 class="galacticTitleFontIsGradient72px">GALACTIC TITANS</h1>
    <p>
        This is a test div. [<br />
        <panel></panel>
        <br />]
    </p>
    <p>
        <img src="~/lib/gameasset/image/site/title.png" class="gTW"/>
    </p>
    <p class="gTZRG">In order to play the game, please <a asp-controller="Home" asp-action="Error">Log in</a>.</p>

</div>
